// .home {
//     select {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         z-index: 1;
//     }

//     .login {
//         position: absolute;
//         top: 0;
//         right: 0;
//         z-index: 1;
//     }
// }

.home {
    background-color: goldenrod;

    .start-button {
        padding: 10px 20px;
        font-size: 24px;
        text-transform: uppercase;
        color: $white;
        background-color: $red;
        border-radius: 10px;
        display: block;
        margin: 10px auto;
        cursor: pointer;
    }

    .game-container {
        padding: 30px 0;
        position: relative;

        &__units {
            position: absolute;
            top: 5px;
            left: 50%;
            transform: translateX(-50%);

            .unit.alive {
                display: inline-block;
            }
        }
    }
}