.header {
    height: 150px;
    position: relative;
    margin-bottom: 20px;

    &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 10px;
    }
}

.theme {
    &--light {
        .header {
            background-color: $light;
            color: $dark;
            border-bottom: 10px solid $dark;
        }
    }

    &--dark {
        .header {
            background-color: $dark;
            color: $light;
            border-bottom: 10px solid $light;
        }
    }

    &--red {
        .header {
            background-color: $red;
            color: $light;
            border-bottom: 10px solid $light;
        }
    }

    &--blue {
        .header {
            background-color: $blue;
            color: $light;
            border-bottom: 10px solid $light;
        }
    }
}